@import "variables";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .header-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    vertical-align: middle;
    .logo {
      width: 55%;
      position: relative;
      margin: 0 auto;
    }
  }
  .content-wrapper {
    flex-grow: 10;
    display: flex;
    align-items: center;
    align-content: space-around;
    position: relative;
    .ga-container {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      padding: 12px;
      display: flex;
      flex-direction: column;
    }
  }
}
