@import "./variables";
@import "themify/themify-icons";
@import "directives/star-rating/rating";

.header-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 150px;
  // border: 1px solid;
  .social-links,
  .accessible-links {
    ul {
      list-style: none;
      li {
        display:  inline;
      }
    }
  }
  .logo {
    flex-grow: 1;
    width: 333px;
    height: 150px;
    background: url('../../assets/images/logos/logo-principal.png') center -25px no-repeat;
    overflow: hidden;
    img {
      margin-top: -30px
    }
  }
  .social-links {
    flex-grow: 5;
    // border: 1px solid;
    ul {
      margin: 60px 0 0;
      padding: 0;
      float: left;
      li {
        margin: 10px;
        a {
          i {
            color: $gray-links-social;
            font-size: 20px;
          }
        }
      }
    }
  }
  .accessible-links {
    flex-grow: 5;
    // border: 1px solid;
    ul {
      margin: 60px 0 0;
      padding: 0;
      float: right;
      li {
        margin: 10px;
        a {
          i {
            color: $yellow-links-accessible;
            font-size: 20px;
          }
        }
      }
    }
  }
  &.gastronomia {
    .logo {
      flex-grow: 1;
      width: 333px;
      height: 150px;
      background: url('../../assets/images/logos/logo-gastronomia.png') center -25px no-repeat;
      overflow: hidden;
      img {
        margin-top: -30px
      }
    }
  }
}
ul.main-nav {
  list-style: none;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  li {
    margin: auto;
    &.active {
      border-bottom: 3px solid $yellow-links-accessible;
      padding-bottom: 4px;
    }
    a {
      font-size: 18px;
      color: $gray-links-main-nav;
      text-decoration: none;
    }
  }
}

.content-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
.add-spot {
  margin: 30px 0;
}


.art-spot {
  margin: 30px 0;
  height: 500px;
  img {
    width: auto;
    height: 500px;
  }
}
section.footer {
  height: 445px;
  .back-top-top {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    border-bottom: 1px solid $gray-links-social;
    .icon-circle {
      margin-left: auto;
      position: relative;
      padding: 12px;
      border-radius: 50%;
      color: #FFF;
      background-color: rgba(0,0,0,.35);
    }
  }
  .infos-footer {
    width: 535px;
    display: flex;
    margin: 30px auto;
  }
  .social-links {
    width: 100%;
    min-height: 120px;
    margin-top: 32px;
    border-bottom: 1px solid $gray-links-social;
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      width: 535px;
      li {
        float: left;
        width: 20%;
        margin: 0;
        text-align: center;
        a {
          text-decoration: none;
          i {
            margin-top: 12px;
            color: $gray-links-social-footer
          }
        }
      }
    }
  }
  .nav-links {
    width: 100%;
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      width: 935px;
      display: flex;
      flex-direction: row;
      li {
        flex-grow: 1;
        text-align: center;
        padding-top: 30px;
        a {
          color: $gray-links-social-footer;
          text-decoration: none;
          font-size: 16px;
        }
      }
    }
  }
}

.add-holder {
  margin: 32px 0;
}
.filter-options {
  display: flex;
  span {
    flex-grow: 1;
    text-align: center;
    padding: 6px 12px;
    margin-right: 4px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0px 2px 0px rgba(0,0,0,.15);
    &:last-child {
      margin-right: 0;
    }
    a {
      text-decoration: none;
      color: #999;
    }
  }
}
.btn-add-event {
  background-color: $yellow-links-accessible;
  color: #fff;
  &:visited,
  &:focus {
    color: #fff;
    outline: none;
  }
  &:hover {
    color: #7b6625;
  }
}
#loading-bar .bar {
  background: $yellow-links-accessible;
  height: 4px;
}
.feature-events-banners,
.content-wrapper {
  .art-spot {
    width: 100%;
    height: 500px;
    background-position: top center;
    .img-caption {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .infos {
        flex: 1;
        align-self: flex-end;
        h3.title {
          color: #FFF;
          font-family: 'Roboto';
        }
        p {
          color: #FFF;
        }
        span {
          color: #FFF
        }
      }
    }
  }
  .carousel-inner {
    height: 500px;
    .item {
      height: 500px;
    }
  }
}
