$orange-rede: #ff7800;
$orange-itau: #f58220;
$blue-ipiranga: #00233b;

// customized buttons
$yellow-btn: #F3D631;

// Spinners
$base-line-height: 64px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;
