@import "variables";

h3.welcome-title {
  width: 70%;
  position: relative;
  margin: 0 auto;
  font-size: 22px;
}
p.welcome-message {
  color: #CCC;
  font-weight: bolder;
  font-size: 16px;
  padding: 24px;
}

.btn-continue {
  width: 100%;
  padding: 9px 0;
  text-align: center;
}
.btn-yellow {
  background-color: $yellow-btn;
  font-weight: 600;
  padding: 9px 12px;
  &.bottom-positioned {
    bottom: 12px;
    margin-top: auto;
  }
}
h4.step-title {
  text-align: center;
  margin-bottom: 24px;
}
