<section class="main">
  <section class="feature-events-banners">
    <div class="spinner animated" ng-if="!home.hasBanners">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" ng-if="home.hasBanners">
      <div uib-slide index="$index" ng-repeat="bn in home.bannersList track by $index">
        <a href="/categoria{{bn.linkUrl}}">
          <img ng-src="{{bn.imgUrl}}" style="margin:auto;">
          <div class="carousel-caption">
            <div class="container">
              <h4>{{bn.title}}</h4>
              <p>{{bn.description}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="add-spot">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="assets/images/adds/add-001.jpg" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </section>
  <section class="feature-news">
    <div class="container">
      <div class="row">
        <section
          class="col-md-4 event-holder"
          ng-repeat="content in home.featTop track by content.position.home.position"
          ui-sref="main.categories.view({categoriaId: content.categoryId, itemId: content.$id})">
          <div class="img-holder">
            <img ng-src="{{content.imgUrl}}" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title" ng-style="{'color': content.category.color}">
            {{content.category.title}}
          </h3>
          <p class="event-text">
            {{content.description}}
          </p>
        </section>
        <!-- <section class="col-md-4 event-holder" ui-sref="main.categories.view({categoriaId: home.featMusica[0].categoryId, itemId: home.featMusica[0].$id})">
          <div class="img-holder">
            <img ng-src="{{home.featMusica[0].imgUrl}}" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Música
          </h3>
          <p class="event-text">
            {{home.featMusica[0].description}}
          </p>
        </section>
        <section class="col-md-4 event-holder" ui-sref="main.categories.view({categoriaId: home.featDanca[0].categoryId, itemId: home.featDanca[0].$id})">
          <div class="img-holder">
            <img ng-src="{{home.featDanca[0].imgUrl}}" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Dança
          </h3>
          <p class="event-text">
            {{home.featDanca[0].description}}
          </p>
        </section> -->
      </div>
    </div>
  </section>
  <a ui-sref="main.categories.view({categoriaId: home.destUp.categoryId, itemId: home.destUp.contentId})">
    <section class="art-spot" ng-style="{'background-image': 'url(' + home.destUp.imgUrl + ')'}">
      <div class="img-caption">
        <div class="infos">
          <div class="container">
            <div class="holder-info">
                <h3 class="title">
                  {{home.destUp.title}}
                </h3>
                <p class="description">
                  {{home.destUp.description}}
                </p>
                <span class="complementary-text">
                  {{home.destUp.text}}
                </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </a>
  <section class="feature-news">
    <div class="container">
      <div class="row">
        <section class="col-md-4 event-holder" ui-sref="main.categories.view({categoriaId: home.featCursos[0].categoryId, itemId: home.featCursos[0].$id})">
          <div class="img-holder">
            <img ng-src="{{home.featCursos[0].imgUrl}}" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Cursos
          </h3>
          <p class="event-text">
            {{home.featCursos[0].description}}
          </p>
        </section>
        <section class="col-md-4 event-holder" ui-sref="main.categories.view({categoriaId: home.featLazer[0].categoryId, itemId: home.featLazer[0].$id})">
          <div class="img-holder">
            <img ng-src="{{home.featLazer[0].imgUrl}}" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Lazer
          </h3>
          <p class="event-text">
            {{home.featLazer[0].description}}
          </p>
        </section>
        <section class="col-md-4 event-holder" ui-sref="main.categories.view({categoriaId: home.featGastronomia[0].categoryId, itemId: home.featGastronomia[0].$id})">
          <div class="img-holder">
            <img ng-src="{{home.featGastronomia[0].imgUrl}}" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Gastronomia
          </h3>
          <p class="event-text">
            {{home.featGastronomia[0].description}}
          </p>
        </section>
      </div>
    </div>
  </section>
  <section class="add-spot">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="http://placehold.it/1140x136" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="feature-news">
    <div class="container">
      <div class="row">
        <section class="col-md-4 event-holder" ui-sref="main.categories.view({categoriaId: home.featTeatro[0].categoryId, itemId: home.featTeatro[0].$id})">
          <div class="img-holder">
            <img ng-src="{{home.featTeatro[0].imgUrl}}" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Teatro
          </h3>
          <p class="event-text">
            {{home.featTeatro[0].description}}
          </p>
        </section>
        <section class="col-md-4 event-holder" ui-sref="main.categories.view({categoriaId: home.featVideos[0].categoryId, itemId: home.featVideos[0].$id})">
          <div class="img-holder">
            <img ng-src="{{home.featVideos[0].imgUrl}}" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Vídeos
          </h3>
          <p class="event-text">
            {{home.featVideos[0].description}}
          </p>
        </section>
        <section class="col-md-4 event-holder especial">

          conteudo especial
          <!-- <div class="img-holder">
            <img src="http://placehold.it/360x240" alt="">
          </div>
          <h3 class="event-type-title">
            Cinema
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p> -->
        </section>
      </div>
    </div>
  </section>
  <a ui-sref="main.categories.view({categoriaId: home.destDown.categoryId, itemId: home.destDown.contentId})">
    <section class="art-spot" ng-style="{'background-image': 'url(' + home.destDown.imgUrl + ')'}">
      <div class="img-caption">
        <div class="infos">
          <div class="container">
            <div class="holder-info">
              <h3 class="title">
                {{home.destDown.title}}
              </h3>
              <p class="description">
                {{home.destDown.description}}
              </p>
              <span class="complementary-text">
                {{home.destDown.text}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </a>
</section>
