<section class="main">
  <section class="feature-events-banners">
    <div class="spinner animated" ng-if="!home.hasBanners">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" ng-if="home.hasBanners">
      <div uib-slide index="$index" ng-repeat="bn in home.bannersList track by $index">
        <a href="/categoria{{bn.linkUrl}}">
          <img ng-src="{{bn.imgUrl}}" style="margin:auto;">
          <div class="carousel-caption">
            <div class="container">
              <h4>{{bn.title}}</h4>
              <p>{{bn.description}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-12 add-holder">
        <img src="assets/images/adds/add-001.jpg" alt="" class="img-responsive center-block">
      </div>
    </div>
  </div>

  <section class="feature-news">
    <div class="container">
      <div class="row">
        <section
          class="col-md-4 event-holder"
          ng-repeat="content in home.featTop | orderBy: 'content.position.home.position' track by $index"
          ui-sref="main.categories.view({categoriaId: content.categoryId, itemId: content.$id})">
          <div class="img-holder">
            <img ng-src="{{content.imgThumbUrl}}">
          </div>
          <h3 class="event-type-title" ng-style="{'color': content.category.color}">
            {{content.category.title}}
          </h3>
          <p class="event-text">
            {{content.description}}
          </p>
        </section>
      </div>
    </div>
  </section>
  <a ui-sref="main.categories.view({categoriaId: home.destUp.categoryId, itemId: home.destUp.contentId})">
    <section class="art-spot" ng-style="{'background-image': 'url(' + home.destUp.imgUrl + ')'}">
      <div class="img-caption">
        <div class="infos">
          <div class="container">
            <div class="holder-info">
                <h3 class="title">
                  {{home.destUp.title}}
                </h3>
                <p class="description">
                  {{home.destUp.description}}
                </p>
                <span class="complementary-text">
                  {{home.destUp.text}}
                </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </a>
  <section class="feature-news">
    <div class="container">
      <div class="row">
        <section
          class="col-md-4 event-holder"
          ng-repeat="content in home.featMid | orderBy: content.position.home.position track by $index"
          ui-sref="main.categories.view({categoriaId: content.categoryId, itemId: content.$id})">
          <div class="img-holder">
            <img ng-src="{{content.imgThumbUrl}}">
          </div>
          <h3 class="event-type-title" ng-style="{'color': content.category.color}">
            {{content.category.title}}
          </h3>
          <p class="event-text">
            {{content.description}}
          </p>
        </section>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 add-holder">
        <img src="assets/images/adds/add-001.jpg" alt="" class="img-responsive center-block">
      </div>
    </div>
  </div>
  <section class="feature-news">
    <div class="container">
      <div class="row">
        <section
          class="col-md-4 event-holder"
          ng-repeat="content in home.featBot | orderBy: 'content.position.home.position' track by $index"
          ui-sref="main.categories.view({categoriaId: content.categoryId, itemId: content.$id})">
          <div class="img-holder">
            <img ng-src="{{content.imgThumbUrl}}">
          </div>
          <h3 class="event-type-title" ng-style="{'color': content.category.color}">
            {{content.category.title}}
          </h3>
          <p class="event-text">
            {{content.description}}
          </p>
        </section>
        <!-- <section class="col-md-4 event-holder especial">
          conteudo especial
        </section> -->
      </div>
    </div>
  </section>
  <a ui-sref="main.categories.view({categoriaId: home.destDown.categoryId, itemId: home.destDown.contentId})">
    <section class="art-spot" ng-style="{'background-image': 'url(' + home.destDown.imgUrl + ')'}">
      <div class="img-caption">
        <div class="infos">
          <div class="container">
            <div class="holder-info">
              <h3 class="title">
                {{home.destDown.title}}
              </h3>
              <p class="description">
                {{home.destDown.description}}
              </p>
              <span class="complementary-text">
                {{home.destDown.text}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </a>
</section>
