<section class="main">
  <section class="feature-events-banners">
    <div class="spinner animated" ng-if="!home.hasBanners">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" ng-if="home.hasBanners">
      <div uib-slide index="$index" ng-repeat="bn in home.bannersList track by $index">
        <a href="/categoria{{bn.linkUrl}}">
          <img ng-src="{{bn.imgUrl}}" style="margin:auto;">
          <div class="carousel-caption">
            <div class="container">
              <h4>{{bn.title}}</h4>
              <p>{{bn.description}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="add-spot">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="assets/images/adds/add-001.jpg" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </section>
  <section class="feature-news">
    <div class="container">
      <div class="row">
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="assets/images/featured/feat-001.jpg" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Cinema
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="assets/images/featured/feat-002.jpg" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Música
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="assets/images/featured/feat-003.jpg" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Dança
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
      </div>
    </div>
  </section>
  <section class="art-spot" ng-style="{'background-image': 'url(' + home.destUp.imgUrl + ')'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12 img-caption">
          <div class="infos">
            <h3 class="title">
              {{home.destUp.title}}
            </h3>
            <p>
              {{home.destUp.description}}
            </p>
            <span>
              {{home.destUp.text}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- <img ng-src="{{view.destImg.imgUrl}}" alt="{{view.destImg.title}}" class="center-block"> -->
  </section>
  <section class="feature-news">
    <div class="container">
      <div class="row">
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="http://placehold.it/360x240" alt="">
          </div>
          <h3 class="event-type-title">
            Cursos
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="http://placehold.it/360x240" alt="">
          </div>
          <h3 class="event-type-title">
            Lazer
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="http://placehold.it/360x240" alt="">
          </div>
          <h3 class="event-type-title">
            Gastronomia
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
      </div>
    </div>
  </section>
  <section class="add-spot">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="http://placehold.it/1140x136" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="feature-news">
    <div class="container">
      <div class="row">
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="http://placehold.it/360x240" alt="">
          </div>
          <h3 class="event-type-title">
            Teatro
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="http://placehold.it/360x240" alt="">
          </div>
          <h3 class="event-type-title">
            Videos
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
        <section class="col-md-4 event-holder especial">
          <div class="img-holder">
            <img src="http://placehold.it/360x240" alt="">
          </div>
          <h3 class="event-type-title">
            Cinema
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
      </div>
    </div>
  </section>
  <section class="art-spot" ng-style="{'background-image': 'url(' + home.destDown.imgUrl + ')'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12 img-caption">
          <div class="infos">
            <h3 class="title">
              {{home.destDown.title}}
            </h3>
            <p>
              {{home.destDown.description}}
            </p>
            <span>
              {{home.destDown.text}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- <img ng-src="{{view.destImg.imgUrl}}" alt="{{view.destImg.title}}" class="center-block"> -->
  </section>
</section>
