<div class="ga-container">
  <h4 class="step-title">
    Entre com seus dados.
  </h4>
  <form role="form" class="form" novalidate>
    <div class="input-md-group">
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Nome:</label>
    </div>

    <div class="input-md-group">
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>CPF:</label>
    </div>

    <div class="input-md-group">
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Telefone:</label>
    </div>

    <div class="input-md-group">
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Email:</label>
    </div>
  </form>
  <button class="btn btn-block btn-yellow bottom-positioned" ui-sref="main.cadastro-cartao">
    Continuar
  </button>
</div>
