<div class="ga-container">
  <h4 class="step-title">
    Entre com seus dados.
  </h4>
  <form role="form" class="form" novalidate name="cadastroCartao">
    <div class="input-md-group">
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Número Cartão:</label>
    </div>
    <div class="row">
      <div class="col-50">
        <div class="input-md-group">
          <input type="text" required ng-model="expireDate" name="expireDate">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Data de Validade:</label>
        </div>
      </div>
      <div class="col-50">
        <div class="input-md-group">
          <input type="text" required name="ccv" ng-model="ccv">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Código de Segurança:</label>
        </div>
      </div>
    </div>
  </form>
  <button class="btn btn-block btn-yellow bottom-positioned" ui-sref="main.credenciamento" ng-disabled="">
    Criar Conta
  </button>
</div>
