<div class="container-fluid full-width-image-holder">
  <div class="row">
    <div class="col-md-12">
      <img src="assets/images/categories/food/food-001.jpg" alt="" class="img-responsive center-block" ng-if="state.current.name != 'main.categories.view'">
      <img src="assets/images/results/result-001.jpg" alt="" class="img-responsive center-block" ng-if="state.current.name == 'main.categories.view'">
    </div>
  </div>
</div>
<div class="container" ng-if="state.current.name != 'main.categories.view'">
  <div class="row">
    <div class="col-md-12 add-holder">
      <img src="assets/images/adds/add-001.jpg" alt="" class="img-responsive center-block">
    </div>
  </div>
</div>
<div ui-view=""></div>
