<!-- Banners or carousel  -->
<div class="container-fluid full-width-image-holder" ng-if="search.bCategories.length >= 2">
  <section class="feature-events-banners">
    <div class="spinner animated" ng-if="!search.hasBanners">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" ng-if="search.hasBanners">
      <div uib-slide index="$index" ng-repeat="bn in search.bCategories track by $index">
        <a href="/categoria{{bn.linkUrl}}" ng-style="{'background':'url('+bn.imgUrl+')'}">
          <div class="carousel-caption">
            <div class="container">
              <h4 ng-style="{'color': bn.category.color}">{{bn.title}}</h4>
              <p>{{bn.description}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
<section class="art-spot" ng-style="{'background-image': 'url(' + search.bCategories[0].imgUrl + ')'}" ng-if="search.bCategories.length == 1">
  <div class="img-caption">
    <div class="infos">
      <div class="container">
        <div class="holder-info">
          <h3 class="title" ng-style="{'color': search.bCategories[0].category.color}">
            {{search.bCategories[0].title}}
          </h3>
          <p class="description">
            {{search.bCategories[0].description}}
          </p>
          <span class="complementary-text">
            {{search.bCategories[0].text}}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of banners or carousel  -->

<div class="container" ng-if="state.current.name != 'main.categories.view'">
  <div class="row">
    <div class="col-md-12 add-holder">
      <img src="assets/images/adds/add-001.jpg" alt="" class="img-responsive center-block">
    </div>
  </div>
</div>
<!-- filter content  -->
<div class="container">
  <div class="row">
    <div class="col-md-12 filter-holder">
      <div class="row">
        <div class="col-md-2">
          <span class="pull-right label-search">filtrar por:</span>
        </div>
        <div class="col-md-7">
          <div class="filter-options">
            <span uib-dropdown on-toggle="toggled(open)" class="filter-dropdown-holder">
              <label ng-if="search.filter.priceRate">
                {{search.filter.priceRate.description}}
              </label>
              <a href id="simple-dropdown" uib-dropdown-toggle ng-if="!search.filter.priceRate">
                Valor <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="valor in search.filters.priceRate track by $index"><a ng-click="setFilter('priceRate', valor)" ng-bind-html="valor.description"></a></li>
              </ul>
            </span>
            <span uib-dropdown on-toggle="toggled(open)" class="filter-dropdown-holder">
              <label ng-if="search.filter.cityZone">
                {{search.filter.cityZone.description}}
              </label>
              <a href id="simple-dropdown" uib-dropdown-toggle ng-if="!search.filter.cityZone">
                Região <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="regiao in search.filters.cityZone track by $index"><a ng-click="setFilter('cityZone', regiao)" ng-bind-html="regiao.description"></a></li>
              </ul>
            </span>
            <span uib-dropdown on-toggle="toggled(open)" class="filter-dropdown-holder">
              <label ng-if="search.filter.rate" ng-bind-html="search.filter.rate.description"></label>
              <a href id="simple-dropdown" uib-dropdown-toggle ng-if="!search.filter.rate">
                Avaliação <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="avaliacao in search.filters.rate track by $index"><a ng-click="setFilter('rate', avaliacao)" ng-bind-html="avaliacao.description"></a></li>
              </ul>
            </span>
            <span uib-dropdown on-toggle="toggled(open)" class="filter-dropdown-holder">
              <label ng-if="search.filter.subcategoryId">
                  {{search.filter.subcategoryId.title}}
              </label>
              <a href id="simple-dropdown" uib-dropdown-toggle ng-if="!search.filter.subcategoryId">
                Tipo <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="tipo in search.filters.subcategoryId track by $index"><a ng-click="setFilter('subcategoryId', tipo)" ng-bind-html="tipo.title"></a></li>
              </ul>
            </span>
          </div>
        </div>
        <div class="col-md-3">
          <button class="btn btn-sm btn-add-event" ng-click="doSearch(search.filter)"><i class="fa fa-search"></i> Pesquisar</button>
          <button class="btn btn-sm btn-info" ng-click="clearFilter()"><i class="fa fa-times"></i> Limpar filtro</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row search-pre-result">
    <section
      class="col-md-4 event-holder"
      ng-repeat="content in search.list1"
      ng-mouseover="content.active = true"
      ui-sref="main.categories.view({categoriaId: content.categoryId, itemId: content.$id})">
      <div class="img-holder">
        <img ng-src="{{content.imgThumbUrl}}" alt="{{content.title}}" class="img-responsive">
      </div>
      <h3 class="event-type-title" ng-style="{'color': content.category.color}">
        {{content.title}}
      </h3>
      <p class="event-text">
        {{content.description}}
      </p>
    </section>
  </div>
</div>

<!-- Banner middle position  -->
<section class="art-spot" ng-style="{'background-image': 'url(' + search.bMiddle.imgUrl + ')'}">
  <div class="img-caption">
    <div class="infos">
      <div class="container">
        <div class="holder-info">
          <h3 class="title">
            {{search.bMiddle.title}}
          </h3>
          <p class="description">
            {{search.bMiddle.description}}
          </p>
          <span class="complementary-text">
            {{search.bMiddle.text}}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of banner middle position -->

<div class="container">
  <div class="row search-pre-result">
    <section
      class="col-md-4 event-holder"
      ng-repeat="content in search.list2"
      ng-mouseover="content.active = true"
      ui-sref="main.categories.view({categoriaId: content.categoryId, itemId: content.$id})">
      <div class="img-holder">
        <img ng-src="{{content.imgThumbUrl}}" alt="{{content.title}}" class="img-responsive">
      </div>
      <h3 class="event-type-title" ng-style="{'color': content.category.color}">
        {{content.title}}
      </h3>
      <p class="event-text">
        {{content.description}}
      </p>
    </section>
  </div>
</div>

<!-- Banner bottom position  -->
<section class="art-spot" ng-style="{'background-image': 'url(' + search.bBottom.imgUrl + ')'}">
  <div class="img-caption">
    <div class="infos">
      <div class="container">
        <div class="holder-info">
          <h3 class="title">
            {{search.bBottom.title}}
          </h3>
          <p class="description">
            {{search.bBottom.description}}
          </p>
          <span class="complementary-text">
            {{search.bBottom.text}}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of banner bottom position -->
