<div class="container-fluid full-width-image-holder">
  <div class="row">
    <div class="col-md-12">
      <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide index="$index" ng-repeat="bn in category.banners track by $index">
          <a href="/categoria{{bn.linkUrl}}">
            <img ng-src="{{bn.imgUrl}}" style="margin:auto;">
            <div class="carousel-caption">
              <h4>{{bn.title}}</h4>
              <p>{{bn.description}}</p>
            </div>
          </a>
        </div>
      </div>
      <!-- <img src="assets/images/results/result-001.jpg" alt="" class="img-responsive center-block" ng-if="state.current.name == 'main.categories.view'"> -->
    </div>
  </div>
</div>
<div class="container" ng-if="state.current.name != 'main.categories.view'">
  <div class="row">
    <div class="col-md-12 add-holder">
      <img src="assets/images/adds/add-001.jpg" alt="" class="img-responsive center-block">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 filter-holder">
      <div class="row">
        <div class="col-md-1">
          <i class="fa fa-filter fa-2x"></i>
        </div>
        <div class="col-md-8">
          <div class="filter-options">
            <span uib-dropdown on-toggle="toggled(open)" class="filter-dropdown-holder">
              <label ng-if="result.filter.valor">
                {{result.filter.valor.description}}
              </label>
              <a href id="simple-dropdown" uib-dropdown-toggle ng-if="!result.filter.valor">
                Valor <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="valor in result.filters.valor"><a ng-click="setFilter('valor', valor)" ng-bind-html="valor.description"></a></li>
              </ul>
            </span>
            <span uib-dropdown on-toggle="toggled(open)" class="filter-dropdown-holder">
              <label ng-if="result.filter.regiao">
                {{result.filter.regiao.description}}
              </label>
              <a href id="simple-dropdown" uib-dropdown-toggle ng-if="!result.filter.regiao">
                Região <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="regiao in result.filters.regiao"><a ng-click="setFilter('regiao', regiao)" ng-bind-html="regiao.description"></a></li>
              </ul>
            </span>
            <span uib-dropdown on-toggle="toggled(open)" class="filter-dropdown-holder">
              <label ng-if="result.filter.avaliacao" ng-bind-html="result.filter.avaliacao.description"></label>
              <a href id="simple-dropdown" uib-dropdown-toggle ng-if="!result.filter.avaliacao">
                Avaliação <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="avaliacao in result.filters.avaliacao"><a ng-click="setFilter('avaliacao', avaliacao)" ng-bind-html="avaliacao.description"></a></li>
              </ul>
            </span>
            <span uib-dropdown on-toggle="toggled(open)" class="filter-dropdown-holder">
              <label ng-if="result.filter.tipo">
                {{result.filter.tipo.description}}
              </label>
              <a href id="simple-dropdown" uib-dropdown-toggle ng-if="!result.filter.tipo">
                Tipo <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="tipo in result.filters.tipo"><a ng-click="setFilter('tipo', tipo)" ng-bind-html="tipo.description"></a></li>
              </ul>
            </span>
          </div>
        </div>
        <div class="col-md-3">
          <button class="btn btn-sm btn-add-event" ng-click="search()"><i class="fa fa-search"></i> Pesquisar</button>
          <button class="btn btn-sm btn-info" ng-click="clearFilter"><i class="fa fa-times"></i> Limpar filtro</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 feat-food feat-food-infos" ng-repeat="food in result.foods[0] track by $index" ng-mouseover="food.active = true" ui-sref="main.categories.view({itemId: $index})">
      <div class="img-holder">
        <img ng-src="{{food.imageUrl}}" alt="">
      </div>
      <h3 class="event-type-title">
        {{food.title}}
      </h3>
      <ul class="food-infos">
        <li>
          <div class="icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="infos">
            {{food.info.address.street}} - {{food.info.address.neighbourhood}} <br>
            {{food.info.address.city}} - {{food.info.address.state}} - {{food.info.address.postalCode}}
          </div>
        </li>
        <li>
          <div class="icon">
            <i class="fa fa-clock-o"></i>
          </div>
          <div class="infos">
            {{food.info.schedule[0].days}}<br>
            {{food.info.schedule[0].time}}<br>
            {{food.info.schedule[1].days}}<br>
            {{food.info.schedule[1].time}}
          </div>
        </li>
        <li>
          <div class="icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="infos">
            {{food.info.contacts.phone}}<br>
            {{food.info.contacts.email}}
          </div>
        </li>
        <li>
          <div class="icon">
            <i class="fa fa-dollar"></i>
          </div>
          <div class="infos">
            Média: {{food.info.avgPrice}}
          </div>
        </li>
        <li>
          <span ng-repeat="star in result.range(food.info.rate) track by $index"><i class="fa fa-star"></i></span>
        </li>
      </ul>
    </div>
  </div>
</div>
