<section class="main">
  <section class="feature-events-banners">
    <div class="spinner animated" ng-if="!result.hasBanners">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" ng-if="result.hasBanners">
      <div uib-slide index="$index" ng-repeat="bn in result.bannerList track by $index">
        <a href="/categoria{{bn.linkUrl}}">
          <img ng-src="{{bn.imgUrl}}" style="margin:auto;">
          <div class="carousel-caption">
            <div class="container">
              <h4>{{bn.title}}</h4>
              <p>{{bn.description}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
<div class="container" ng-if="state.current.name != 'main.categories.view'">
  <div class="row">
    <div class="col-md-12 add-holder">
      <img src="assets/images/adds/add-001.jpg" alt="" class="img-responsive center-block">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 filter-holder">
      <div class="row">
        <div class="col-md-2">
          <span class="pull-right label-search">filtrar por:</span>
        </div>
        <div class="col-md-7">
          <div class="filter-options">
            <span uib-dropdown on-toggle="toggled(open)" class="filter-dropdown-holder">
              <label ng-if="result.filter.priceRate">
                {{result.filter.priceRate.description}}
              </label>
              <a href id="simple-dropdown" uib-dropdown-toggle ng-if="!result.filter.priceRate">
                Valor <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="valor in result.filters.priceRate track by $index"><a ng-click="setFilter('priceRate', valor)" ng-bind-html="valor.description"></a></li>
              </ul>
            </span>
            <span uib-dropdown on-toggle="toggled(open)" class="filter-dropdown-holder">
              <label ng-if="result.filter.cityZone">
                {{result.filter.cityZone.description}}
              </label>
              <a href id="simple-dropdown" uib-dropdown-toggle ng-if="!result.filter.cityZone">
                Região <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="regiao in result.filters.cityZone track by $index"><a ng-click="setFilter('cityZone', regiao)" ng-bind-html="regiao.description"></a></li>
              </ul>
            </span>
            <span uib-dropdown on-toggle="toggled(open)" class="filter-dropdown-holder">
              <label ng-if="result.filter.rate" ng-bind-html="result.filter.rate.description"></label>
              <a href id="simple-dropdown" uib-dropdown-toggle ng-if="!result.filter.rate">
                Avaliação <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="avaliacao in result.filters.rate track by $index"><a ng-click="setFilter('rate', avaliacao)" ng-bind-html="avaliacao.description"></a></li>
              </ul>
            </span>
            <span uib-dropdown on-toggle="toggled(open)" class="filter-dropdown-holder">
              <label ng-if="result.filter.subcategoryId">
                  {{result.filter.subcategoryId.title}}
              </label>
              <a href id="simple-dropdown" uib-dropdown-toggle ng-if="!result.filter.subcategoryId">
                Tipo <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="tipo in result.filters.subcategoryId track by $index"><a ng-click="setFilter('subcategoryId', tipo)" ng-bind-html="tipo.title"></a></li>
              </ul>
            </span>
          </div>
        </div>
        <div class="col-md-3">
          <button class="btn btn-sm btn-add-event" ng-click="doSearch(result.filter)"><i class="fa fa-search"></i> Pesquisar</button>
          <button class="btn btn-sm btn-info" ng-click="clearFilter()"><i class="fa fa-times"></i> Limpar filtro</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container search-result">
  <div class="row animated" ng-class="{'fadeInDown': result.contentList.length == 0}" ng-if="result.contentList.length == 0">
    <div class="col-md-12">
      <div class="alert alert-warning" role="alert">
        <i class="fa fa-info-circle"></i>
        Sua busca não retornou resultados, altere os filtros e tente novamente
      </div>
    </div>
  </div>
  <div class="row">
    <section
      class="col-md-4 event-holder"
      ng-repeat="content in result.contentList track by $index"
      ng-mouseover="content.active = true"
      ui-sref="main.categories.view({itemId: content.$id})">
      <div class="img-holder">
        <img ng-src="{{content.imgUrl}}" alt="{{content.title}}" class="img-responsive">
      </div>
      <h3 class="event-type-title" ng-style="{'color': content.category.color}">
        {{content.title}}
      </h3>
      <p class="event-text">
        <ul class="content-infos">
          <li>
            <div class="infos">
              {{content.address.street}} - {{content.address.neighbourhood}} <br>
              {{content.address.city}} - {{content.address.state}} - {{content.address.postalCode}}
            </div>
          </li>
          <li>
            <div class="infos">
              <span ng-repeat="dates in content.dates" class="info-date">
                {{dates.date ? dates.date : 'Nenhum data informada'}}<br>
                {{dates.time ? dates.time : 'Nenhum horário informada'}}
              </span>
            </div>
          </li>
          <li>
            <div class="infos">
              {{content.phone}}<br>
              {{content.email}}
            </div>
          </li>
          <li>
            <div class="infos">
              Média: {{content.priceRate | ratePrice}}
            </div>
          </li>
          <li>
            <span class="rate-star" ng-repeat="star in result.range(content.rate) track by $index"><i class="fa fa-star"></i></span>
          </li>
        </ul>
      </p>
    </section>
  </div>
</div>
