<section class="art-spot" ng-style="{'background-image': 'url(' + view.content.imgUrl + ')'}">
  <div class="img-caption">
    <div class="infos">
      <div class="container">
        <div class="holder-info">
          <h3 class="title">
            {{view.destImg.title}}
          </h3>
          <p class="description">
            {{view.destImg.description}}
          </p>
          <span class="complementary-text">
            {{view.destImg.text}}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container" ng-if="state.current.name != 'main.categories.view'">
  <div class="row">
    <div class="col-md-12 add-holder">
      <img src="assets/images/adds/add-001.jpg" alt="" class="img-responsive center-block">
    </div>
  </div>
</div>

<section class="container" id="description">
  <div class="row">
    <div class="col-md-12">
      <h3 class="title" ng-bind="view.content.title"></h3>
      <span ng-bind="view.content.description"></span>
      <hr>
      <p>por: {{view.content.author.displayName}} {{view.content.createdAt | date: 'dd/MM/yyyy'}} <i class="fa fa-clock-o"></i> {{view.content.createdAt | date: 'hh:mm'}}  |  {{view.content.updatedAt ? 'Atualizado ' : ''}}{{view.content.updatedAt | date: 'dd/MM/yyyy hh:mm'}}</p>
      <hr>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div class="infos-holder">
            <h4 class="infos-title">
              <i class="fa fa-info-circle"></i> {{view.content.title}}
            </h4>
            <p>
              {{view.content.address.street}} - {{view.content.address.number}}
            </p>
            <p>
              {{view.content.address.neighbourhood}} - {{view.content.address.city}} - {{view.content.address.state}}
            </p>
            <p>
              <span ng-repeat="dates in view.content.dates track by $index">
                {{dates.date}}<br>
                {{dates.time}}
              </span>
            </p>
            <p>
              {{view.content.phone}}<br>
              {{view.content.email}}
            </p>
            <p>
              {{view.content.priceRate | ratePrice}}
            </p>
            <p>
              <input-stars max="5" ng-model="view.content.rate" ng-attr-readonly="true"></input-stars>
            </p>
          </div>
        </div>
        <div class="col-md-9">
          <p ng-bind-html="view.content.content"></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container" id="adds">
  <div class="row">
    <div class="col-md-12 add-holder">
      <img src="assets/images/adds/add-001.jpg" alt="" class="img-responsive center-block">
    </div>
  </div>
</section>

<section class="container" id="share">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h3>Compartilhe: <small><i class="fa fa-facebook fa-2x"></i> <i class="fa fa-2x fa-twitter"></i> <i class="fa fa-2x fa-google-plus"></i></small></h3>
      <hr>
    </div>
  </div>
</section>

<section class="container" id="related">
  <div class="row">
    <div class="col-md-12">
      <h4>
        Veja também:
      </h4>

      <div class="row">
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="assets/images/featured/feat-001.jpg" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Cinema
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="assets/images/featured/feat-002.jpg" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Cinema
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="assets/images/featured/feat-003.jpg" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Cinema
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
      </div>
      <div class="row" style="margin-top: 48px;">
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="assets/images/featured/feat-001.jpg" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Cinema
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="assets/images/featured/feat-002.jpg" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Cinema
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
        <section class="col-md-4 event-holder">
          <div class="img-holder">
            <img src="assets/images/featured/feat-003.jpg" alt="" class="img-responsive">
          </div>
          <h3 class="event-type-title">
            Cinema
          </h3>
          <p class="event-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          </p>
        </section>
      </div>

    </div>
  </div>
</section>
<section class="container" id="comments">
  <div class="row">
    <div class="col-md-12">
      <h4>
        Comentários:
      </h4>


      <div class="comment-holder" ng-class="{ 'completed' : view.commentsLoaded }">
        <h5 class="loading text-center">Carrengando comentários...</h5>
      </div>


      <div class="comment-holder" ng-if="view.comments.length == 0">
        <h5 class="loading text-center">Não existem comentários para esse conteúdo. Seja o primeiro a comentar!</h5>
      </div>

      <div class="comment-holder animated fadeInUp" ng-repeat="comment in view.comments | orderBy: 'createdAt':true | limitTo: 3 track by $index">
        <div class="icon">
          <div class="icon-circle" ng-if="!comment.author.userImg">
            <i class="fa fa-user fa-2x"></i>
          </div>
          <img ng-src="{{comment.author.userImg}}" class="img-circle img-responsive" ng-if="comment.author.userImg">
        </div>
        <div class="message">
          <div class="rate-date">
            <div class="rate">
              <input-stars max="5" ng-model="comment.rate" ng-attr-readonly="true"></input-stars>
            </div>
            <div class="date">
              <span class="label label-primary">
                publicado em: {{comment.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}
              </span>
            </div>
          </div>
          <div class="username">
            {{comment.author.displayName}}
          </div>
          <div class="comment">
            {{comment.comment}}
          </div>
        </div>
      </div>
      <div class="input-comment animated fadeInUp">
        <h4>
          Deixe seu comentário:
        </h4>
        <form role="form" class="form" novalidate name="formComment">
          <fieldset>
            <div class="form-group">
              <label>Deixe seu comentário:</label>
              <textarea name="comment" id="commentField" rows="4" class="form-control" maxlength="2000" ng-model="view.commentObj.comment"></textarea>
              <span class="char-count">Caracteres restantes: {{(2000 - view.commentObj.comment.length)}}</span>
            </div>
          </fieldset>
          <fieldset class="stars">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Avaliação:</label>
                  <div class="checkbox">
                    <input-stars max="5" ng-model="view.commentObj.rate"></input-stars>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="" style="display: inline-block">&nbsp;</label>
                  <button class="btn btn-add-event pull-right" ng-click="(view.AddComment(view.commentObj))">
                    enviar comentário
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
        <!-- <br>
        <label>
          Comentário:
        </label>
        <textarea class="form-control" rows="6" style="resize: none"></textarea>
        <br>
        <button class="btn btn-primary pull-right">Comentar</button> -->
      </div>
    </div>
  </div>
</section>
