@import "../variables";
.feat-food {
  position: relative;
  overflow: hidden;
  h3 {
    display: inline-block;
    margin: 12px 0;
    padding-bottom: 5px;
    transition: all ease .2s;
  }
  &:hover {
    .backdrop {
      opacity: 1;
    }
    h3 {
      color: #fd4c14;
      border-bottom: 3px solid #fd4c14;
    }
  }
  &.feat-food-infos {
    height: 560px;
    .food-infos {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        padding: 5px 0;
        font-family: 'Roboto';
        color: #aaa;
        font-weight: 600;
        &:last-child {
          padding: 5px 0 0 24px;
          span {
            color: #fd4c14;
            margin: 0px 5px;
          }
        }
        .icon {
          width: 32px;
          height: 32px;
          i {
            font-size: 26px;
            color: #fd4c14;
          }
        }
        .infos {
          display: flex;
          vertical-align: middle;
          align-items: center;
          span {
            display: block;
            margin-left: 24px;
          }
        }
      }
    }
  }
}
