@import "../variables";
.feat-food {
  position: relative;
  overflow: hidden;
  h3 {
    display: inline-block;
    margin: 12px 0;
    padding-bottom: 5px;
    transition: all ease .2s;
  }
  &:hover {
    .backdrop {
      opacity: 1;
    }
    h3 {
      color: #fd4c14;
      border-bottom: 3px solid #fd4c14;
    }
  }
  &.feat-food-infos {
    height: 560px;
    .food-infos {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        padding: 5px 0;
        font-family: 'Roboto';
        color: #aaa;
        font-weight: 600;
        &:last-child {
          padding: 5px 0 0 24px;
          span {
            color: #fd4c14;
            margin: 0px 5px;
          }
        }
        .icon {
          width: 32px;
          height: 32px;
          i {
            font-size: 26px;
            color: #fd4c14;
          }
        }
        .infos {
          display: flex;
          vertical-align: middle;
          align-items: center;
          span {
            display: block;
            margin-left: 24px;
          }
        }
      }
    }
  }
  &.feat-food-videos {
    outline: none;
    cursor: pointer;
    position: relative;
    height: 350px;
    margin-bottom: 24px;
    &.playing {
      .img-holder {
        &:before {
          position: absolute;
          bottom: 4px;
          right: 8px;
          font-family: 'FontAwesome';
          content: '\f04b';
          color: #fff;
          font-size: 16px;
          z-index: 21;
        }
        &:after {
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: rgba(0,0,0,.45);
          z-index: 20;
          content: '';
          left: 0;
          top: 0;
        }
        .video-title {
          font-size: 1.8rem;
        }
      }
      .video-title,
      .video-title:hover {
        font-size: 1.8rem;
        color: #fd4c14;
        border-bottom: 3px solid #fd4c14;
        padding-bottom: 20px;
        width: 100%;
        small {
          display: inline-block;
          width: 100%;
        }
      }
    }
    .img-holder {
      position: relative;
      z-index: 10;
      outline: none;
      img {
        min-width: 100%;
        height: auto;
      }
    }
    .video-title {
      font-weight: 400;
      font-family: 'Roboto';
      transition: all ease .2s;
      padding-bottom: 20px;
      width: 100%;
      font-size: 1.8rem;
      small {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
.video-bg {
  background-color: #000;
  margin-bottom: 30px !important;
}
