<section class="footer hidden-xs">
  <div class="container">
    <div class="back-top-top">
      <div class="icon-circle" ng-click="goToTop()">
        <i class="fa-2x ti-angle-up"></i>
      </div>
    </div>

    <div class="social-links">
      <ul>
        <li><a href="/home"><img src="assets/images/logos/logo-footer.png" alt=""></a></li>
        <li><a href="https://www.facebook.com/vivasp.net/" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
        <li><a href="https://twitter.com/VIVASPNET" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
        <li><a href="https://www.instagram.com/vivaspnet/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCiny6EBTC0gR_PcEEcnewhw" target="_blank"><i class="fa fa-youtube-play fa-3x"></i></a></li>
      </ul>
    </div>
    <div class="infos-footer">
      <img src="assets/images/info-footer.png" alt="">
    </div>
    <div class="nav-links">
      <ul>
        <li><a ui-sref="main.quemsomos">Quem Somos</a></li>
        <li><a ng-click="footer.Contact()">Contato</a></li>
        <!-- <li><a ui-sref="main.trabalhe">Trabalhe Conosco</a></li>
        <li><a ui-sref="main.marca">Marca VIVA SP</a></li>
        <li><a ui-sref="main.anuncie">Anúncie aqui</a></li> -->
      </ul>
    </div>
  </div>
</section>
