<div class="modal-header text-center">
  {{$ctrl.showLoginForm ? 'Faça seu login' : 'Cadastre-se'}}
</div>
<div class="modal-body">
  <form role="form" name="loginForm" class="form" ng-show="$ctrl.showLoginForm" novalidate autocomplete="off" ng-submit="$ctrl.Login($ctrl.loginObj">
    <fieldset>
      <div class="form-group">
        <input type="text" required="required" ng-model="$ctrl.loginObj.email" id="emailLogin" name="emailLogin">
        <label class="control-label" for="emailLogin">Digite seu e-mail:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <input type="password" ng-model="$ctrl.loginObj.password" id="senhaLogin" name="senha" required="required">
        <label class="control-label" for="emailLogin">Digite sua senha:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <div class="row">
      <div class="col-md-12">
        <div class="notice notice-danger" ng-if="$ctrl.userNotFound">
          <strong>Alerta</strong> Usuário não encontrado :( <i class="fa fa-times pull-right" ng-click="$ctrl.userNotFound = false"></i>
        </div>
        <div class="notice notice-danger" ng-if="$ctrl.wrongEmailPassword">
          <strong>Alerta</strong> Email ou senha inválidos :( <i class="fa fa-times pull-right" ng-click="$ctrl.wrongEmailPassword = false"></i>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-danger pull-left" ng-click="$ctrl.Cancel()">
        Cancelar
      </button>
      <button type="submit" class="btn btn-primary pull-right" ng-click="$ctrl.Login($ctrl.loginObj)" ng-disabled="loginForm.$invalid">
        Entrar
      </button>
    </div>
  </form>
  <form role="form" class="form" novalidate name="signForm" ng-show="$ctrl.showSignUpForm" autocomplete="off">
    <fieldset>
      <div class="form-group" ng-class="{'error': signForm.nome.$error.pattern || signForm.nome.$error.required}">
        <input type="text" ng-model="$ctrl.signUp.name" id="nomeSignup" required="required" name="nome">
        <label class="control-label" for="nomeSignup">Nome:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group" ng-class="{'error': signForm.email.$error.pattern || signForm.email.$error.required}">
        <input type="text" ng-model="$ctrl.signUp.email" id="nomeSignup" required="required" name="email">
        <label class="control-label" for="nomeSignup">Email:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group" ng-class="{'error': signForm.senha.$error.required}">
        <input type="password" ng-model="$ctrl.signUp.password" id="passwordSignup" required="required" name="senha">
        <label class="control-label" for="passwordSignup">Senha:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group" ng-class="{'error': signForm.resenha.$error.required}">
        <input type="password" ng-model="$ctrl.rePass" id="reTypePasswordSignup" required="required" name="resenha">
        <label class="control-label" for="reTypePasswordSignup">Confirme a senha:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <button class="btn btn-danger pull-left" ng-click="$ctrl.CancelSign()">
          Cancelar
        </button>
        <button class="btn btn-primary pull-right" ng-click="$ctrl.SignUpUser($ctrl.signUp)">
          Entrar
        </button>
      </div>
    </fieldset>
  </form>
  <form role="form" class="form" name="forgotForm" ng-show="$ctrl.showForgotForm" autocomplete="off">
    <fieldset class="animated" ng-if="!$ctrl.check">
      <div class="form-group" ng-class="{'error': forgotForm.email.$error.pattern || forgotForm.email.$error.required}">
        <input type="text" ng-model="$ctrl.forgotObj.email" id="emailForgot" required="required" name="email">
        <label class="control-label" for="emailForgot">Digite o email cadastrado:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <div class="message-forgot" ng-show="$ctrl.check">
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
      </svg>
      <h5 class="text-center">E-mail enviado com sucesso!</h5>
    </div>
    <fieldset>
      <div class="form-group">
        <button class="btn btn-primary pull-right" ng-click="$ctrl.RetrievePassword($ctrl.forgotObj.email)" ng-if="!$ctrl.check">
          Prosseguir
        </button>
      </div>
    </fieldset>
  </form>
  <div class="divider-login-inputs">
    <span>
      ou
    </span>
  </div>
  <div class="form-group social-login">
    <button class="btn btn-social btn-facebook pull-left" ng-click="$ctrl.LoginFacebook()">
      <span class="fa fa-facebook"></span>
      login com Facebook
    </button>
    <button class="btn btn-social btn-google pull-right" ng-click="$ctrl.LoginGoogle()">
      <span class="fa fa-google-plus-circle"></span>
      login com Google+
    </button>
  </div>
</div>
<div class="extra-buttons">
  <button class="btn btn-link btn-xs pull-left" ng-click="$ctrl.ForgotPassword()">
    esqueci minha senha
  </button>
  <button class="btn btn-link btn-xs pull-right" ng-click="$ctrl.SignUpForm()">
    cadastre-se
  </button>
</div>
