<div class="modal-header text-center">
  {{$ctrl.showLoginForm ? 'Faça seu login' : 'Cadastre-se'}}
</div>
<div class="modal-body">
  <form role="form" name="loginForm" class="form" ng-show="$ctrl.showLoginForm" novalidate autocomplete="off">
    <fieldset>
      <div class="form-group">
        <input type="text" required="required" ng-model="$ctrl.loginObj.email" id="emailLogin" name="emailLogin">
        <label class="control-label" for="emailLogin">Digite seu e-mail:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <input type="password" ng-model="$ctrl.loginObj.password" id="senhaLogin" name="senha" required="required">
        <label class="control-label" for="emailLogin">Digite sua senha:</label>
        <i class="bar"></i>
      </div>
    </fieldset>



      <!-- <div class="form-group" ng-class="{'error': loginForm.email.$error.pattern || loginForm.email.$error.required}">
        <input type="text" ng-model="$ctrl.loginObj.email" id="emailLogin" required="required" name="email">
        <label for="emailLogin">Email:</label>
        <i class="bar"></i>
      </div> -->
      <!-- <div class="form-group" ng-class="{'error': loginForm.senha.$error.required || loginForm.senha.$error.minlength}" ng-minlength="6">
        <input type="password" ng-model="$ctrl.loginObj.password" id="senhaLogin" name="senha" required="required">
        <label for="senhaLogin">Senha:</label>
        <i class="bar"></i>
      </div> -->
      <!-- <div class="form-group">
        <div class="alert alert-success" role="alert" ng-show="$ctrl.userNotFound">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>:(</strong> Ops, usuário não encontrado!
        </div>
        <div class="alert alert-success" role="alert" ng-show="$ctrl.wrongPassword">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>:(</strong> Ops, senha ou email inválido!
        </div>
        <div class="alert alert-success" role="alert" ng-show="$ctrl.invalidEmail">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>:(</strong> Ops, formato de e-mail inválido!
        </div>
      </div> -->

    <div class="form-group">
      <button class="btn btn-danger pull-left" ng-click="$ctrl.Cancel()">
        Cancelar
      </button>
      <button class="btn btn-primary pull-right" ng-click="$ctrl.Login($ctrl.loginObj)" ng-disabled="loginForm.$invalid">
        Entrar
      </button>
    </div>
  </form>
  <form role="form" class="form" novalidate name="signForm" ng-show="$ctrl.showSignUpForm" autocomplete="off">
    <fieldset>
      <!-- <div class="form-group">
        <input type="text" class="form-control" ng-model="$ctrl.signUp.name" required placeholder="Digite seu nome">
      </div> -->
      <div class="form-group" ng-class="{'error': signForm.nome.$error.pattern || signForm.nome.$error.required}">
        <input type="text" ng-model="$ctrl.signUp.name" id="nomeSignup" required="required" name="nome">
        <label for="nomeSignup">Nome:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group" ng-class="{'error': signForm.email.$error.pattern || signForm.email.$error.required}">
        <input type="text" ng-model="$ctrl.signUp.email" id="nomeSignup" required="required" name="email">
        <label for="nomeSignup">Email:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group" ng-class="{'error': signForm.senha.$error.required}">
        <input type="password" ng-model="$ctrl.signUp.password" id="passwordSignup" required="required" name="senha">
        <label for="passwordSignup">Senha:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group" ng-class="{'error': signForm.resenha.$error.required}">
        <input type="password" ng-model="$ctrl.rePass" id="reTypePasswordSignup" required="required" name="resenha">
        <label for="reTypePasswordSignup">Confirme a senha:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <button class="btn btn-danger pull-left" ng-click="$ctrl.CancelSign()">
          Cancelar
        </button>
        <button class="btn btn-primary pull-right" ng-click="$ctrl.SignUpUser($ctrl.signUp)">
          Entrar
        </button>
      </div>
    </fieldset>
  </form>
  <form role="form" class="form" name="forgotForm" ng-show="$ctrl.showForgotForm" autocomplete="off">
    <fieldset class="animated" ng-class="{'fadeOut': $ctrl.check}">
      <div class="form-group" ng-class="{'error': forgotForm.email.$error.pattern || forgotForm.email.$error.required}">
        <input type="text" ng-model="$ctrl.forgotObj.email" id="emailForgot" required="required" name="email">
        <label for="emailForgot">Digite o email cadastrado:</label>
        <i class="bar"></i>
      </div>
    </fieldset>
    <div class="message-forgot" ng-show="$ctrl.check">
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
      </svg>
    </div>
    <fieldset>
      <div class="form-group">
        <button class="btn btn-primary pull-right" ng-click="$ctrl.RetrievePassword($ctrl.forgotObj.email)">
          Prosseguir
        </button>
      </div>
    </fieldset>
  </form>
  <div class="divider-login-inputs">
    <span>
      ou
    </span>
  </div>
  <div class="form-group">
    <button class="btn btn-block btn-primary">
      <i class="fa fa-facebook"></i> Login com Facebook
    </button>
  </div>
</div>


<div class="extra-buttons">
  <button class="btn btn-link pull-left" ng-click="$ctrl.ForgotPassword()">
    esqueci minha senha
  </button>
  <button class="btn btn-link pull-right" ng-click="$ctrl.SignUpForm()">
    cadastre-se
  </button>
</div>
