/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../bower_components/animate-sass/animate";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');

* {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  // &:not(span.glyphicon),
  // &:not(i) {
  //   font-family: 'Roboto', sans-serif !important;
  // }
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url($icon-font-path'fonts/glyphicons-halflings-regular.eot');
  src: url($icon-font-path'fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url($icon-font-path'fonts/glyphicons-halflings-regular.woff') format('woff'), url($icon-font-path'fonts/glyphicons-halflings-regular.ttf') format('truetype'), url($icon-font-path'fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.center-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  &.login-modal {
    background: rgba(#282830, .65);
    .modal-content {
      border-radius: 0;
      box-shadow: none;
      .modal-header {
        margin-bottom: 10px;
      }
      .modal-body {
        .divider-login-inputs {
          position: relative;
          font-size: 16px;
          z-index: 1;
          overflow: hidden;
          text-align: center;
          width: 100%;
          color: #ccc;
          span {
            padding: 10px;
            background-color: #FFF;
            display: inline-block;
          }
        }
        .divider-login-inputs:before,
        .divider-login-inputs:after {
          position: absolute;
          top: 51%;
          overflow: hidden;
          width: 49%;
          height: 1px;
          content: '\a0';
          background-color: #ccc;
        }
        .divider-login-inputs:before {
          margin-left: -50%;
          text-align: right;
        }
      }
      .extra-buttons {
        .btn-link {
          text-decoration: none;
          &.pull-left {
            padding-left: 0;
          }
          &.pull-right {
            padding-right: 0;
          }
          color: #FFF;
        }
      }
    }
  }

}
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower



/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
