/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  &:not(span.glyphicon),
  &:not(i) {
    font-family: 'Roboto', sans-serif !important;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url($icon-font-path'fonts/glyphicons-halflings-regular.eot');
  src: url($icon-font-path'fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url($icon-font-path'fonts/glyphicons-halflings-regular.woff') format('woff'), url($icon-font-path'fonts/glyphicons-halflings-regular.ttf') format('truetype'), url($icon-font-path'fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower



/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
